<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>This is the home page</h1>
		<h2>Welcome <%= username %>, your email is <%= emailAddress %></h2>
		<p>This was generated with ejs</p>
	</body>
</html>